NUXT_SESSION_PASSWORD=please-change-this-to-a-32char-min-secret

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=changeme123

DATABASE_URL=file:.data/app.db
DATABASE_AUTH_TOKEN=dfthtdhtdfht

SMTP_HOST=smtp.mail.ru
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=searchklad@mail.ru
SMTP_PASS=dfthtdhtdfht
MAIL_TO=searchklad@mail.ru

NUXT_PUBLIC_SITE_URL=http://localhost:3000
